/* Основний колір тексту #212121 */
/* Вторичний колір тексту #757575 */
/* Білий #FFFFFF */
/* Білий колір тексту в футері rgba(255, 255, 255, 0.6) */
/* Акцент #2196F3 */

:root {
    --primary-text-color: #212121;
    --secondary-text-color: #757575;
    --accent-color: #2196F3;
    --primary-white-color: #FFFFFF;
    --secondary-bcg-color: #2F303A;
}


body {
    background-color: var(--primary-white-color);
    color: var(--primary-text-color);
    font-family: 'Roboto', sans-serif;
    letter-spacing: 0.03em;
}

.list {
    list-style: none;
}


/* header */

.logo {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    color: #000;
}

.logo-part {
    color: var(--accent-color);
}

.site-nav .link {
    color: var(--primary-text-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
}

.site-nav .link.current {
    color: var(--accent-color);
}

.site-nav .link:hover,
.site-nav .link:focus,
.contacts .link:hover,
.contacts .link:focus {
    color: var(--accent-color);
}

.contacts .link {
    color: var(--secondary-text-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
}

/* footer  */

.footer {
    background-color: var(--secondary-bcg-color);
}

.logo-part2 {
    color: var(--primary-white-color);
}

.address {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
}

.address-link {
    color: var(--primary-white-color)}

.address-link:hover,
.address-link:focus {
    color: var(--accent-color);
}

.address .link:hover,
.address .link:focus {
    color: var(--accent-color);
}

.footer .link {
    color:rgba(255, 255, 255, 0.6);
    ;
}

/* Студія */
/* main  */
/* hero  */

.hero {
    background-color: var(--secondary-bcg-color);
}

.hero-title {
    color: var(--primary-white-color);
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
}

.button {
    background-color: var(--accent-color);
    color: var(--primary-white-color);
    cursor: pointer;
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
}

/* section  */

.section-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
}

/* features  */

.features .title {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.features .text {
    color: var(--secondary-text-color);
    font-size: 14px;
    line-height: 1.71;
}

/* team  */

.team {
    background-color: #F5F4FA;
}

.team-card {
    background-color: var(--primary-white-color);
}

.team .name {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
}

.team-members .position {
    color: var(--secondary-text-color);
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
}



/* portfolio page */

.buttons .button {
    background-color: #F5F4FA;
    color: var(--primary-text-color);
    cursor: pointer;
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.03em;
}

.buttons .button:hover,
.buttons .button:focus {
    background-color: var(--accent-color);
    color: var(--primary-white-color);
}

.project-name {
    font-weight: 700;
    font-size: 18px;
    line-height: 2.0;
    letter-spacing: 0.06em;
}

.project-type {
color: var(--secondary-text-color);
font-size: 16px;
line-height: 1.88;
}